language: ruby
rvm:
  - 1.9.2
  - 1.9.3
before_install:
  - gem update bundler
before_script:
  - RAILS_ENV='development' bundle exec gem list
script: 'gem build dtf-session.gemspec'
notifications:
  irc:
    channels:
      - "irc.freenode.org#pgpkeys"
    on_failure: always
    on_success: always
  email:
    recipients:
      - me@daviddwdowney.com
    on_failure: always
    on_success: always
